
/* Style the video: 100% width and height to cover the entire window */
#homeVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
}


.content {
   position: fixed;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   color: #f1f1f1;
   width: 100%;
   padding: 20px;
}


#myBtn {
   width: 200px;
   font-size: 18px;
   padding: 10px;
   border: none;
   background: #000;
   color: #fff;
   cursor: pointer;
}

#myBtn:hover {
   background: #ddd;
   color: black;
}

/* NAV */

.navbar {
    background-color:rgb(0, 0, 0) !important;

}

.navbar-nav {
  margin-left:15%;
}

.nav-item a, .navbar p {
  font-family: 'Orbitron', sans-serif;
  font-size:2em;
}


.nav-item {
  margin-left:6%;
}

.nav-link:hover {
  color:white !important;
}

#logo a {
  display:inline-block;
  margin-top:10px;
  text-decoration: none;
  color:white;
  font-family: 'Press Start 2P', cursive;
  font-size:0.7em;
}


/* BODY */

body {
  display:block;
  background-image: url('../images/home1.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

/* TOPICS */

.vertical-menu {
    margin-top:300px;
    width: 400px;
    height:290px;
    border: 1px solid #AA0132;
    border-left:none;
}

.vertical-menu a {
    background-color: rgb(0,0,0,0.5);
    color: #ffe3d8;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align:center;
    font-size:2em;
    font-family: 'Permanent Marker', cursive;
}

.vertical-menu a:hover {
    color: #d31a48;
}

.vertical-menu a.active {
    background-color: #AA0132;
    color: #ffe3d8;
}

#title1 {
  width:796px;
  padding:30px;
  margin-left:11.4%;
  margin-top:-90%;
  color:#ffe3d8;
  background-color:rgb(170, 1, 50, 0.7);
}

#title1 h1 {
  font-size:2em;
  font-family: 'Cinzel', serif;
  text-align:center;
}

/* Horrorescape version - basic */
#content1 {
  width:796px;
  padding:30px;
  margin-left:2.7%;
  margin-bottom:230px !important;
  border:2px dashed #AA0132;
  color: #ffe3d8;
}

#content1 p {
  text-align:justify;
}
